{% extends 'base.html' %} {% load filtros %}
<!--prettier-ignore-->
{% block 'content' %}

<!--prettier-ignore-->
<div class="container pt-3">
    
    <div class="row col-xs-6" style="text-align: center">
        <p>Você deseja excluir o {{livro.nome}}?</p>   
        <a href="{% url 'livro' livro.id%}" class="btn btn-warning btn-lg">Voltar</a>
        <br>
        <br>
        <a href="{% url 'excluir_livro' livro.id %}" class="btn btn-danger btn-lg">Excluir</a>

    </div>
</div>
<!--Container-->
<!--prettier-ignore-->

{% endblock 'content' %}
