{% extends 'base.html' %}

<!--prettier-ignore-->
{% block 'content' %}

<!--prettier-ignore-->
<div class="container">

    <form action="#" method="POST">
        {% csrf_token %}
        <br>
        <label for="Nome">Nome:</label>
        <input type="text" name="nome" class="form-control" value="{{livro.nome}}">
        
        <br>
        <label for="Autor">Autor:</label>
        <input type="text" name="autor" class="form-control" value="{{livro.autor}}">

        <br>
        <label for="Data cadastro">Data Cadastro:</label>
        <input type="text" class="form-control" value="{{livro.data_cadastro}}" name="data_cadastro">
        
        <br>
        <label for="Emprestado">Emprestado: </label>
        {% if livro.emprestado %}
        <input type="checkbox" style="transform : scale(1.3)" checked name="emprestado" >
        {% else %}
        <input type="checkbox" style="transform : scale(1.3)" name="emprestado" >
        {% endif %}
        <br>
        <br>
        <label>Categoria:</label>
        <select name="Categoria" class="form-control" id="">
        {% for categoria in categoria_livro %}
	        {% if categoria.nome == categoria_livro.nome %} 
		    <option selected>{{categoria.nome}}</option>	
	        {% endif %}
		    <option>{{categoria.nome}}</option>
        {% endfor %}
        </select>
        <br>

        <input type="submit" value="Enviar" class="btn btn-primary">
        <a href="{% url 'livros' %}" class="btn btn-warning">Voltar</a>
    </form>

</div>
<!--prettier-ignore-->

{% endblock 'content' %}
